@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  /* COLORS */
  /* Primary */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* Neutral */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--light-grayish-blue);
}
/*-----------------*/

.grid__container {
  display: grid;
  margin: 50px auto;
  width: 85%;
  row-gap: 2em;
  column-gap: 2.5em;
}

.card {
  border-radius: 10px;
  padding: 1.5em 2.6em;
  background-color: var(--white);
}

/* SPECIFIC CARDS */
#daniel__card {
  color: var(--light-grayish-blue);
  background: url(/images/bg-pattern-quotation.svg) no-repeat,
    var(--moderate-violet);
  background-position-x: 90%;
  background-size: 102px 106px;
}

#jonathan__card {
  color: var(--white);
  background-color: var(--very-dark-grayish-blue);
}

#patrick__card {
  color: var(--white);
  background-color: var(--very-dark-blackish-blue);
}

#daniel__card .author__picture,
#patrick__card .author__picture {
  border: 2px solid #a775f1;
}
/*-----------------*/

.card__author {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.author__picture {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.author__info {
  padding: 0em;
}

.author__status {
  opacity: 50%;
  font-size: 11px;
}

.card__title {
  margin-bottom: 1em;
  font-weight: 100;
}

.card__text {
  opacity: 60%;
  line-height: 1.5em;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 870px) {
  .grid__container {
    margin: 8em auto;
    width: 80%;
    grid-template-areas:
      "daniel daniel daniel jonathan kira"
      "jeanette patrick patrick patrick kira";
  }

  #daniel__card {
    background-position-x: 80%;
    grid-area: daniel;
  }

  #jonathan__card {
    grid-area: jonathan;
  }

  #jeanette__card {
    grid-area: jeanette;
  }

  #patrick__card {
    grid-area: patrick;
  }

  #kira__card {
    grid-area: kira;
  }
}
